/*************************************************************************************************************************/
/************************************************BOUTON BURGER************************************************************/
/*************************************************************************************************************************/

.menu_burger{
    align-items: center;
    background-color: #000000;
    border: 2px solid #fff;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    height: 60px;
    left: 30px;
    opacity: 0.7;
    position: absolute;
    top: 30px;
    width: 60px;
    z-index: 15;
    span{
        background-color: #fff;
        border-radius: 10px;
        height: 3px;
        left: 0;
        margin: 4px 0;
        opacity: 1;
        position: relative;
        top: 14px;
        width: 50%;
    }
}

.first_line_in{
    animation-name: firstLine;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(1, 1.4, 0.79, 1.35);
    animation-fill-mode: forwards;
}
.second_line_in{
    animation-name: secondLine;
    animation-duration: .5s;
    animation-fill-mode: forwards;
}
.third_line_in{
    animation-name: thirdLine;
    animation-duration: .5s;
    animation-timing-function: cubic-bezier(1, 1.4, 0.79, 1.35);
    animation-fill-mode: forwards;
}

.first_line_out{
    animation-name: firstLine;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1, 1.4, 0.79, 1.35);
    animation-direction: reverse;
}
.second_line_out{
    animation-name: secondLine;
    animation-duration: .5s;
    animation-direction: reverse;
}
.third_line_out{
    animation-name: thirdLine;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1, 1.4, 0.79, 1.35);
    animation-direction: reverse;
}

/*************************************************************************************************************************/
/************************************************BOUTON START*************************************************************/
/*************************************************************************************************************************/

#start{
    align-items: center;
    background-color: #000000;
    border: 2px solid #fff;
    border-radius: 100px;
    bottom: 175px;
    color: #fff;
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    height: 140px;
    justify-content: center;
    left: 0;
    margin: auto;
    opacity: 0.7;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-transform: uppercase;
    width: 140px;
}