#pageContact{
    color: #fff;
    background-image: url('../img/imgContact/bgContact.svg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Dosis', sans-serif;
    height: 100vh;
    .headerContact{
        height: 20vh;
        background-image: url('../img/imgContact/feuilleEnHauteur.svg');
        background-position: top;
        background-repeat: no-repeat;
        background-size: 260px;
        position: relative;
        z-index: 1;
    }
    .bg1{
        @include bg;
        background-image: url('../img/imgContact/bg1.svg');
        z-index: 2;
    }
    .bg2{
        @include bg;
        background-image: url('../img/imgContact/bg2.svg');
        z-index: 4;
    }
    #masqueFantomeVertContact{
        height: 285px;
        left: 74%;
        overflow: hidden;
        position: absolute;
        top: 46%;
        width: 127px;
        z-index: 1;
        #fantomeVertContact{
            height: 300px;
            left: -32px;
            position: absolute;
            top: -7px;
            width: 2964px;
        }
    }
    #masqueVer{
        bottom: 0;
        height: 185px;
        left: 0;
        overflow: hidden;
        position: absolute;
        width: 408px;
        z-index: 3;
        #ver{
            height: 309px;
            left: 0;
            position: absolute;
            top: -62px;
            width: 5000px;
        }
    }
    .bgFormulaire{
        align-items: center;
        background-color: #000;
        box-sizing: border-box;
        border-radius: 100px 100px 0 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        height: 97vh;
        left: 0;
        margin: 0 auto;
        position: absolute;
        right: 0;
        width: 55vw;
        .titreContact{
            font-size: 3em;
            margin: 0;
            padding-top: 170px;
            text-align: left;
        }
        .globalContact{
            display: flex;
            height: 100%;
            .coordonnees{
                @include formCoord;
                height: 70%;
                z-index: 5;
                .maPosition{
                    height: 45px;
                }
                .numMobile{
                    height: 55px;
                }
                p{
                    font-size: 1.5em;
                    margin-left: 20px;
                }
                .git{
                    height: 40px;
                }
                .linkedin{
                    height: 40px;
                }
                ul{
                    list-style-type: none;
                    padding-left: 0;
                    li{
                        align-items: center;
                        display: flex;
                    }
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }
            // .monForm{
            //     @include formCoord;
            //     height: 75%;
            //     form{
            //         display: flex;
            //         flex-direction: column;
            //         input, textarea{
            //         justify-content: space-around;
            //             background-color: #333;
            //             border-radius: 7px;
            //             color: #fff;
            //             margin-top: 5px;
            //             outline: none;
            //             padding: 10px;
            //             resize: none;
            //         }
            //         input{
            //             height: 20px;
            //         }
            //         label{
            //             font-family: 'Dosis', sans-serif;
            //             font-size: 1.1em;
            //             margin-top: 15px;
            //         }
            //         button{
            //             align-self: flex-end;
            //             background-color: pink;
            //             border-radius: 25px;
            //             cursor: pointer;
            //             font-family: 'Dosis', sans-serif;
            //             font-size: 1.2em;
            //             font-weight: 600;
            //             height: 50px;
            //             margin-top: 15px;
            //             width: 150px;
            //         }
            //     }
            // }
        }
    }
}