.presentation{
    background-color: #000;
    color: #fff;
    font-family: 'Dosis', sans-serif;
    height: 100vh;
    text-align: center;
}

.headerCv{
    background-image: url(../img/feuille_en_hauteur.svg);
    background-position: top;
    background-size: 350px;
    background-repeat: no-repeat;
    height: 30vh;
}

.nomCv{
    margin: 0;
    padding-top: 40px;
    text-transform: uppercase;
}

#PhotoDeProfil{
    height: 100%;
}

.description{
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 40vh;
}

.monTitre{
    width: 40%;
    text-align: left;
    overflow: auto;
}

.recherche{

}

.competences{
    align-items: center;
    flex-direction: column;
    height: 30vh;
    display: flex;
    justify-content: center;
    position: relative;
    ul{
        display: flex;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        top: 20px;
        li{
            list-style-type: none;
            margin-right: 55px;
        }
    }
    .list1{
        width: 50%;
        position: absolute;        
    }
    .list2{
        width: 60%;
        position: relative;
    }
}


/*************************************************************************************************************************/
/**********************************************PROGRESS BAR CIRCLE********************************************************/
/*************************************************************************************************************************/

#ctx{
    background-position: center;
    background-size: 55px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}

.html5, .css, .sass, .js, .jquery, .angular, .node, .git, .mongodb{
    position: relative;
}

.html5 #ctx, .css #ctx, .js #ctx{
    background-size: 45px;
}