.menuCache{
    background-color: #000;
    bottom: 0;
    color: #fff;
    display: none;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 10;
    .headerMenuCache{
        background-image: url('../img/feuille_en_hauteur.svg');
        background-position: top;
        background-size: 260px;
        background-repeat: no-repeat;
        height: 30vh;
        .monNom{
            @include headerPos;
            font-size: 2em;
            margin: 0;
            padding-top: 40px;
        }
        .tableauScore{
            align-items: center;
            display: inline-flex;
            justify-content: space-around;
            .score{
                @include headerPos;
                font-size: 3em;
                margin: 0 10px;
                top: 40px;
            }
        }
        .gameOver{
            @include gameOverAndWin;
            animation-name: effetGameOver;
        }
        .win{
            @include gameOverAndWin;
            animation-name: win;
        }
    }

    /*************************************************************************************************************************/
    /***************************************************PLATEFORME************************************************************/
    /*************************************************************************************************************************/

    .plateforme{
        height: 30vh;
        margin: 0 auto;
    }

    /*************************************************************************************************************************/
    /***************************************************PERSONNAGE MORT*******************************************************/
    /*************************************************************************************************************************/

    #masquePersoMort{
        height: 110px;
        left: 47%;
        overflow: hidden;
        position: absolute;
        top: 38%;
        width: 182px;
        #persoMort{
            display: none;
            left: 0;
            position: absolute;
            width: 2000px;
        }
    }

    /*************************************************************************************************************************/
    /***************************************************PERSONNAGE VICTORIEUX*************************************************/
    /*************************************************************************************************************************/

    #masquePersoWin{
        height: 210px;
        left: 47%;
        overflow: hidden;
        position: absolute;
        top: 28%;
        width: 175px;
        #persoWin{
            display: none;
            left: 0;
            position: absolute;
            width: 1000px;
        }
    }

    /*************************************************************************************************************************/
    /***************************************************PERSONNAGE EN PAUSE***************************************************/
    /*************************************************************************************************************************/

    .masquePersoPause{
        height: 222px;
        left: 47%;
        overflow: hidden;
        position: absolute;
        top: 24%;
        width: 185px;
        .persoPause{
            display: none;
            left: 0;
            position: absolute;
            width: 1000px;
        }
    }

    /*************************************************************************************************************************/
    /*********************************************NAVIGATION PRINCIPALE*******************************************************/
    /*************************************************************************************************************************/

    .mainNav{
        height: 30vh;
        ul{
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                font-size: 2em;
                list-style-type: none;
                margin: 0 auto;
                margin-bottom: 25px;
                padding: 0;
                &::first-letter{
                    text-transform: capitalize;
                }
                a{
                    color: #fff;
                    text-decoration: none;
                }
                .lienCv, .lienContact{
                    color: #f7b3b1;
                }
            }
            .cv::after, .contact::after{
                content: '';
                background-color: #fff;
                display: block;
                height: 2px;
                margin-top: 20px;
                width: 500px;
            }
        }
    }

    /*************************************************************************************************************************/
    /************************************************RESEAUX SOCIAUX**********************************************************/
    /*************************************************************************************************************************/

    .reseauSocial{
        display: flex;
        height: 10vh;
        justify-content: center;
        ul{
            align-items: center;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            width: 125px;
            li{
                list-style-type: none;
            }
        }
        .git, .linkedin{
            height: 30px;
        }
    }
}