/*************************************************************************************************************************/
/*************************************************PAGE ACCUEIL************************************************************/
/*************************************************************************************************************************/

@mixin backgroundAccueil {
    background-size: cover;
    bottom: 0; 
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

@mixin headerAccueil {
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    margin-top: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 2;
}

/*************************************************************************************************************************/
/***************************************************PAGE JEU**************************************************************/
/*************************************************************************************************************************/

@mixin fenetres {
    height: 500px;
    position: absolute;
}

@mixin pieces {
    bottom: 0px;
    height: 100px;
    position: absolute;
}

@mixin headerPos {
    position: relative;
    text-transform: uppercase;
}

@mixin gameOverAndWin {
    display: none;
    animation-direction: alternate;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0, 0.39, 0.46, 1.16);
    font-size: 4em;
    margin: 0 10px;
    position: relative;
    text-transform: uppercase;
    top: 40px;
}