/*************************************************************************************************************************/
/**********************************************BACKGROUND DU JEU**********************************************************/
/*************************************************************************************************************************/

#fond_vert{
    background-image: url('../img/fond_vert.svg');
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

/*************************************************************************************************************************/
/********************************************BACKGROUND DE LA TOUR********************************************************/
/*************************************************************************************************************************/

#tour{
    background-image: url('../img/tour.svg');
    background-repeat: no-repeat;
    height: 1000px;
    position: relative;
    width: 1137px;
}

/*************************************************************************************************************************/
/*********************************************FENETRES DE LA TOUR*********************************************************/
/*************************************************************************************************************************/

#fenetreGauche{
    left: 16%;
}

#fenetreDroite{
    left: 56%;
    
}

#fenetreGauche, #fenetreDroite{
    height: 50%;
    position: absolute;
}

/*************************************************************************************************************************/
/**********************************************PERSONNAGE DU JEU**********************************************************/
/*************************************************************************************************************************/

#masqueHero{
    height: 123px;
    width: 97px;
    position: absolute;
    overflow: hidden;
    left: 150px;
    top: 100px;
    z-index: 10;
}

#hero{
    height: 150px;
    left: -12px;
    position: absolute;
    top: -14px;
}

/*************************************************************************************************************************/
/********************************************OBSTACLE BOULE PIQUE********************************************************/
/*************************************************************************************************************************/

#boulePique{
    height: 10%;
    position: absolute;
    left: 70%;
}

/*************************************************************************************************************************/
/****************************************************PIECES***************************************************************/
/*************************************************************************************************************************/

#pieceJs{
    height: 10%;
    left: 30%;
    position: absolute;
}

/*************************************************************************************************************************/
/***************************************************FANTOME***************************************************************/
/*************************************************************************************************************************/

#masqueFantome{
    height: 150px;
    width: 123px;
    position: absolute;
    overflow: hidden;
    left: 40%;
}

#fantome{
    height: 100%;
    position: absolute;
}

/*************************************************************************************************************************/
/***************************************************INSECTE***************************************************************/
/*************************************************************************************************************************/

#masqueInsecte{
    height: 150px;
    width: 285px;
    position: absolute;
    overflow: hidden;
    left: 6%;
}

#insecte{
    height: 100%;
    position: absolute;
}

/*************************************************************************************************************************/
/**************************************************INSECTE2***************************************************************/
/*************************************************************************************************************************/

#masqueInsecte2{
    height: 150px;
    width: 285px;
    position: absolute;
    overflow: hidden;
    left: 69%;
    transform: rotateY(180deg);
}

#insecte2{
    height: 100%;
    position: absolute;
}