#monBody{
    overflow: overlay;
    .presentation{
        background-color: #000;
        color: #fff;
        font-family: 'Dosis', sans-serif;
        height: 100vh;
        text-align: center;
        .mBc{
            position: fixed;
        }
        .headerCv{
            height: 20vh;
            background-image: url('../img/imgCv/feuilleEnHauteur.svg');
            background-position: top;
            background-repeat: no-repeat;
            background-size: 260px;
        }
        .QuiJeSuis{
            display: flex;
            height: 40vh;
            justify-content: space-evenly;
            margin: 0 auto;
            width: 80vw;
            #PhotoDeProfil{
                height: 90%;
            }
            .maDescription{
                display: flex;
                flex-direction: column;
                justify-content: center;
                overflow: auto;
                text-align: left;
                width: 40%;
                .recherche{
                    line-height: 1.5em;
                    strong{
                        font-size: 1.2em;
                        font-weight: 400;
                    }
                }
                p:first-child{
                    margin: 0;
                    font-size: 3em;
                }
                p:nth-child(2){
                    margin: 0;
                    font-size: 2em;
                }
                p:last-child{
                    margin: 0 0 20px 0;
                    font-size: 2em;
                }
            }
        }
        .competences{
            align-items: center;
            display: flex;
            flex-direction: column;
            height: 40vh;
            justify-content: center;
            position: relative;
            ul{
                display: flex;
                justify-content: space-around;
                margin: 0;
                padding: 0;
                top: 20px;
                li{
                    list-style-type: none;
                    margin-right: 55px;
                }
            }
            .listComp1{
                height: 35%;
                width: 50%;
            }
            .listComp2{
                height: 50%;
                width: 60%;
            }

        /*************************************************************************************************************************/
        /**********************************************PROGRESS BAR CIRCLE********************************************************/
        /*************************************************************************************************************************/

            #ctx{
                background-position: center;
                background-repeat: no-repeat;
                background-size: 55px;
                left: 0;
                position: absolute;
                top: 0;
            }
            .html5, .css, .sass, .js, .jquery, .angular, .node, .github, .mongodb{
                position: relative;
            }
            .html5 #ctx, .css #ctx, .js #ctx{
                background-size: 45px;
            }
        }

        
        /*************************************************************************************************************************/
        /**********************************************SECTION EXPERIENCES********************************************************/
        /*************************************************************************************************************************/

        #xp{
            background-attachment: fixed;
            background-image: url('../img/imgCv/bgCv.svg');
            background-repeat: no-repeat;
            background-size: cover;
            color: #000;
            display: flex;
            font-size: 1.3em;
            height: 100vh;
            #lycee, #acf, #croupier, #stockiste, #ecoleMultiM, #eCom, #ifocop{
                height: 100%;
                position: relative;
                width: calc(100% / 7);
            }
            #lycee{
                .descrip{
                    left: -5%;
                    top: 37%;
                }
                .formation{
                    left: 100%;
                    top: 30%;
                }
            }
            #acf{
                .descrip{
                    left: -55%;
                    top: 17%;
                }
                .formation{
                    left: 50%;
                    top: 10%;
                }
            }
            #croupier{
                .experience{
                    left: 0;
                    top: 40%;
                }
                time{
                    left: 19%;
                    top: 42%;
                }
                p{
                    position: absolute;
                    left: 41%;
                    top: 47%;
                }
            }
            #stockiste{
                .experience{
                    left: 0;
                    top: 36%;
                }
                time{
                    left: 19%;
                    top: 38%;
                }
                p{
                    left: 41%;
                    position: absolute;
                    top: 43%;
                }
            }
            #ecoleMultiM{
                .formation{
                    left: -10%;
                    top: 15%;
                }
                .descrip{
                    left: -116%;
                    top: 18%;
                }
            }
            #eCom{
                .experience{
                    left: -30%;
                    top: 31%;
                }
                time{
                    left: -2%;
                    top: 33%;
                }
                p{
                    left: -7%;
                    position: absolute;
                    top: 38%;
                }
            }
            #ifocop{
                .formation{
                    left: -20%;
                    top: 10%;
                }
                .descrip{
                    left: -128%;
                    top: 13%;
                }
            }
            .formation{
                height: 500px;
                position: absolute;
            }
            .experience{
                height: 325px;
                position: absolute;
            }
            p{
                color: #fff;
                margin: 0;
                text-align: right;
            }
            h4{
                color: #fff;
                font-weight: bold;
                margin-bottom: 15px;
                text-align: right;
                &::after{
                    content: "";
                    background-color: #000;
                    display: block;
                    height: 2px;
                    margin-top: 5px;
                    position: absolute;
                    right: 0;
                    width: 100px;
                }
            }
            time{
                color: #000;
                font-weight: bold;
                position: absolute;
                z-index: 1;
            }
            .descrip{
                position: absolute;
                width: 100%;
            }
        }

        /*************************************************************************************************************************/
        /****************************************************CONTACT**************************************************************/
        /*************************************************************************************************************************/

        footer{
            align-items: center;
            background-color: #000;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            height: 100vh;
            justify-content: space-around;
            .illustration{
                width: 400px;
            }
            .contact{
                display: flex;
                flex-direction: column;
                text-align: left;
                width: 30%;
                p{
                    font-size: 3em;
                }
                #monCv{
                    @include cvEtContact;
                    border: 2px solid #fff;
                    color: #fff;
                }
                #contactezMoi{
                    @include cvEtContact;
                    background-color: #f7b3b1;
                    color: #000;
                    font-weight: 600;
                }
            }
            .resSoc{
                text-align: left;
                width: 30%;
                ul{
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
                    li{
                        align-items: center;
                        display: flex;
                        flex-direction: row;
                        margin-top: 20px;
                        a{
                            color: #fff;
                            text-decoration: none;
                        }
                    }
                    p{
                        font-size: 1.5em;
                        margin: 0;
                    }
                }
                p:first-child{
                    font-size: 2em;
                }
                .git{
                    height: 60px;
                    margin-right: 30px;
                }
                .linkedin{
                    height: 50px;
                    margin-right: 40px;
                }
            }
        }
    }
}