.pageMenu{
    background-color: #000;
    bottom: 0;
    color: #fff;
    display: none;
    flex-direction: column;
    font-family: 'Dosis', sans-serif;
    justify-content: space-around;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    z-index: 10;
    .nav1>ul{
        display: flex;
        flex-direction: column;
        padding: 0;
        position: relative;
        top: 40px;
        li{
            font-size: 2em;
            list-style-type: none;
            margin: 0 auto;
            margin-bottom: 25px;
            padding: 0;
            &::first-letter{
                text-transform: capitalize;
            }
            a{
                color: #fff;
                text-decoration: none;
            }
        }
    }
    .cv::after, .contact::after{
        content: '';
        background-color: #fff;
        display: block;
        height: 2px;
        margin-top: 20px;
        width: 500px;
    }

}

/*************************************************************************************************************************/
/***************************************************EN-TÊTE***************************************************************/
/*************************************************************************************************************************/

header{
    background-image: url(../img/feuille_en_hauteur.svg);
    background-position: top;
    background-size: 18%;
    background-repeat: no-repeat;
    height: 30vh;
}

.nom, .score{
    position: relative;
    text-transform: uppercase;
}

.nom{
    font-size: 2em;
    margin: 0;
    margin-top: 40px;
}

.score{
    font-size: 3em;
    margin: 0 10px;
    top: 40px;
}

.gameOver{
    font-size: 4em;
    margin: 0 10px;
    position: relative;
    text-transform: uppercase;
    top: 40px;
}

.tableauScore{
    align-items: center;
    display: inline-flex;
    justify-content: space-around;
}

/*************************************************************************************************************************/
/***************************************************PLATEFORME************************************************************/
/*************************************************************************************************************************/

.plateforme{
    height: 30vh;
    margin: 0 auto;
}

/*************************************************************************************************************************/
/**************************************************NAVIGATION*************************************************************/
/*************************************************************************************************************************/

.nav1{
    height: 30vh;
    ul{
        margin: 0;
    }
}

/*************************************************************************************************************************/
/************************************************RESEAUX SOCIAUX**********************************************************/
/*************************************************************************************************************************/

.reseauSocial{
    display: flex;
    height: 10vh;
    justify-content: center;
    ul{
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        padding: 0;
        width: 125px;
        li{
            list-style-type: none;
        }
    }
    .git, .linkedin{
        height: 30px;
    }
}