/*************************************************************************************************************************/
/**********************************************BACKGROUND DU JEU**********************************************************/
/*************************************************************************************************************************/

#fond_vert{
    background-image: url('../img/fond_vert.svg');
    background-size: cover;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

/*************************************************************************************************************************/
/********************************************BACKGROUND DE LA TOUR********************************************************/
/*************************************************************************************************************************/

#tour{
    background-image: url('../img/tour.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    width: 100%;
}

/*************************************************************************************************************************/
/*********************************************FENETRES DE LA TOUR*********************************************************/
/*************************************************************************************************************************/

#fenetreGauche{
    left: 620px;
}

#fenetreDroite{
    right: 620px;
    
}

#fenetreGauche, #fenetreDroite{
    height: 50%;
    position: absolute;
    // top: 130px;
}

/*************************************************************************************************************************/
/**********************************************PERSONNAGE DU JEU**********************************************************/
/*************************************************************************************************************************/

#masqueHero{
    height: 150px;
    width: 123px;
    position: absolute;
    overflow: hidden;
    left: 600px;
    top: 100px;
    z-index: 10;
    // border: 2px solid black;
}

#hero{
    height: 100%;
    position: absolute;
}

/*************************************************************************************************************************/
/********************************************OBSTACLE BOULE PIQUE********************************************************/
/*************************************************************************************************************************/

#boulePique{
    height: 10%;
    position: absolute;
    left: 1000px;
}

/*************************************************************************************************************************/
/****************************************************PIECES***************************************************************/
/*************************************************************************************************************************/

#pieceJs{
    height: 10%;
    left: 600px;
    position: absolute;
}

/*************************************************************************************************************************/
/***************************************************FANTOME***************************************************************/
/*************************************************************************************************************************/

#masqueFantome{
    height: 150px;
    width: 123px;
    position: absolute;
    overflow: hidden;
    left: 1200px;
    // border: 2px solid black;
}

#fantome{
    height: 100%;
    position: absolute;
}

/*************************************************************************************************************************/
/***************************************************INSECTE***************************************************************/
/*************************************************************************************************************************/

#masqueInsecte{
    height: 150px;
    width: 285px;
    position: absolute;
    overflow: hidden;
    left: 490px;
    // border: 2px solid black;
}

#insecte{
    height: 100%;
    position: absolute;
}

/*************************************************************************************************************************/
/**************************************************INSECTE2***************************************************************/
/*************************************************************************************************************************/

#masqueInsecte2{
    height: 150px;
    width: 285px;
    position: absolute;
    overflow: hidden;
    left: 1142px;
    transform: rotateY(180deg);
    // border: 2px solid black;
}

#insecte2{
    height: 100%;
    position: absolute;
}